*.a
*.elf
*.erl
*.exe
*.irx
*.o
*.swp
*.tmp
*.d
*.bin
*.rgb
crc32gen/crc32gen
kernel/demo.S
loader/back.h
loader/cloud.h
loader/disc.h
loader/folder.h
loader/penguin.h
loader/romdefinitions.h
loader/romfilelist.h
loader/rominitialize.h
loader/selected.h
loader/unselected.h
loader/up.h
png2rgb/png2rgb
ppm2rgb/ppm2rgb
